// GRID SYSTEM CONFIG
// ------------------------------

// Options
$use-gutter:        true;                               // Use gutter for container?
$use-max-width:     true;                               // Use max width for container?
$use-prefix:        ".";                                // Prefix for use "%" (placeholder) or "." (class).

// Classes
$class-padding:     "sg-pd";                            // Class for paddings
$class-margin:      "sg-mg";                            // Class for margins
$class-centered:    "sg-mid";                           // Class for blocks
$class-column:      "sg-col";                           // Class for columns
$sides:             "left", "right", "top", "bottom";   // Which side do you want to use?

// Grid Values
$max-columns:       10;                                 // max value is 10
$max-margins:       10;                                 // max value is 10
$max-paddings:      10;                                 // max value is 10
$max-width:         980px;                              // value for max-width on container
$container-width:   100%;                               // value for container width
$container-gutter:  20px;                               // value for container gutter



// GRID SYSTEM MIXINS
// ------------------------------

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

@mixin clearfix() {
    *zoom:1;

    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

@mixin container() {
    @if $use-gutter {
        padding-left: $container-gutter;
        padding-right: $container-gutter;
    }
    @if $use-max-width {
        max-width: $max-width;
    }
    margin: 0 auto;
    display: block;
    width: $container-width;
}

@mixin row() {
    display: block;
    margin: 0 auto;
    @include clearfix();
}

@mixin col($i) {
    width: $i * 10%;
    display: inline;
}

@mixin float($side) {
  display: inline;
  float: unquote($side);
}

@mixin mid($i: 1) {
    margin-left: $i * 10px;
    margin-right: $i * 10px;
}

@mixin off($side, $i: 1) {
    margin-#{$side}: $i * 10px;
}

@mixin pad($side, $i: 1) {
    padding-#{$side}: $i * 10px;
}

@mixin alpha() {
    margin-left: 0;
}

@mixin omega() {
    margin-right: 0;
}



// GRID SYSTEM GENERATOR
// ------------------------------

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

#{$use-prefix}container {
    @include container;
}
#{$use-prefix}row {
    @include row;
}

@for $i from 1 through $max-columns {
    #{$use-prefix}#{$class-column}#{$i} {
        @include float(left);
        width: $i * 10%;
    }
}

#{$use-prefix}pull-left {
    @include float(left);
}
#{$use-prefix}pull-right {
    @include float(right);
}

@for $i from 1 through $max-margins {
    #{$use-prefix}#{$class-centered}#{$i} {
        margin-left: $i * 10px;
        margin-right: $i * 10px;
    }
}

@each $side in $sides {
    @for $i from 1 through $max-margins {
        #{$use-prefix}#{$class-margin}-#{$side}#{$i} {
            margin-#{$side}: $i * 10px;
        }
    }
}

@each $side in $sides {
    @for $i from 1 through $max-paddings {
        #{$use-prefix}#{$class-padding}-#{$side}#{$i} {
            padding-#{$side}: $i * 10px;
        }
    }
}
