////////////////////////////////////////////////////////////////////////////////
//
// GRID SYSTEM CONFIGURATION
//
////////////////////////////////////////////////////////////////////////////////

// Options
$use-gutter:        false;                              // Use gutter for container?
$use-max-width:     false;                              // Use max width for container?
$use-prefix:        ".";                                // Prefix for use "%" (placeholder) or "." (class).

// Classes
$class-padding:     "pad";                              // Class for paddings
$class-margin:      "off";                              // Class for margins
$class-centered:    "cen";                              // Class for vertical align
$class-middle:      "mid";                              // Class for horizontal align
$class-column:      "col";                              // Class for columns
$class-sides:       "left", "right", "top", "bottom";   // Do not change the names, but feel free to remove a side from the list

// Grid Values
$max-width:         980px;                              // value for max-width on container
$container-width:   100%;                               // value for container width
$container-gutter:  20px;                               // value for container gutter



////////////////////////////////////////////////////////////////////////////////
//
// GRID SYSTEM MIXINS
//
////////////////////////////////////////////////////////////////////////////////

@mixin container() {
    @if $use-gutter {
        padding-left: $container-gutter;
        padding-right: $container-gutter;
    }
    @if $use-max-width {
        max-width: $max-width;
    }
    margin-left: auto;
    margin-right: auto;
    width: $container-width;
}

@mixin row() {
    width: 100%;
    display: table;
    table-layout: fixed;
}

@mixin col($i) {
    display: table-cell;
    @if $i != 0 {
        width: $i * 10%;
    }
}

@mixin float($side) {
  display: inline;
  float: unquote($side);
}

@mixin middle($i: 1) {
    margin-left: $i * 10px;
    margin-right: $i * 10px;
}

@mixin center($i: 1) {
    margin-top: $i * 10px;
    margin-bottom: $i * 10px;
}

@mixin off($side, $i: 1) {
    margin-#{$side}: $i * 10px;
}

@mixin pad($side, $i: 1) {
    padding-#{$side}: $i * 10px;
}

@mixin first() {
    margin-left: 0;
}

@mixin last() {
    margin-right: 0;
}



////////////////////////////////////////////////////////////////////////////////
//
// GRID SYSTEM GENERATOR
//
////////////////////////////////////////////////////////////////////////////////

#{$use-prefix}container {
    @include container;
}
#{$use-prefix}row {
    @include row;
}
#{$use-prefix}col {
    @include col(0);
}

@for $i from 1 through 10 {
    #{$use-prefix}#{$class-column}#{$i} {
        width: $i * 10%;
    }
}

#{$use-prefix}pull-left {
    @include float(left);
}
#{$use-prefix}pull-right {
    @include float(right);
}

#{$use-prefix}first {
    @include first;
}
#{$use-prefix}last {
    @include last;
}

@for $i from 1 through 10 {
    #{$use-prefix}#{$class-centered}#{$i} {
        margin-left: $i * 10px;
        margin-right: $i * 10px;
    }
}

@for $i from 1 through 10 {
    #{$use-prefix}#{$class-middle}#{$i} {
        margin-top: $i * 10px;
        margin-bottom: $i * 10px;
    }
}

@each $side in $class-sides {
    @for $i from 1 through 10 {
        #{$use-prefix}#{$class-margin}#{$side}#{$i} {
            margin-#{$side}: $i * 10px;
        }
    }
}

@each $side in $class-sides {
    @for $i from 1 through 10 {
        #{$use-prefix}#{$class-padding}#{$side}#{$i} {
            padding-#{$side}: $i * 10px;
        }
    }
}
